@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;

}

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --input-bg-color: hsla(185, 41%, 84%, 0.3);
}

body {
  background-color: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.splitter-logo {
  display: block;
  margin: 1.5em auto;
}

/* bill tip amount */
.tip-calculator-container {
  background-color: var(--white);
  border-radius: 1.875em 1.875em 0 0;
  height: 100%;
  padding: 2em;
}

.heading-tip-calculator {
  color: var(--grayish-cyan);
  margin-bottom: 0.25em;
}

.bill-container {
  margin-bottom: 1.5em;
}

.amount {
  background: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 0.75em;
}

/* tip amount choices */
.tip-choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.tip-btn {
  padding: 0.25em 1em;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-size: 1.5rem;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

.tip-btn:hover {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.tip-btn-selected {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

/* number of people */
.number-of-people, .number-of-people-zero {
  background: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 0.75em;
}

/* inputs */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  color: var(--very-dark-cyan);
  font-size: 1.5rem;
  text-align: right;
  padding: 0.25em 0.75em;
  width: 100%;
  border: 2px solid transparent;
  background-color: var(--input-bg-color);
  border-radius: 0.25em;
  outline: none;
}

input[type=number]:focus {
  border: 2px solid var(--strong-cyan);
}

::placeholder {
  color: var(--grayish-cyan);
}

.label-num-people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.zero-num-people {
  display: none;
  color: #B71C1C;
}

/* total tip amount */
.total-amount-and-div-container {
  background-color: var(--very-dark-cyan);
  padding: 2em;
  border-radius: 0.75em;
}

.tip-amount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.tip-amount-container p {
  color: var(--white);
}

.tip-amount-container span {
  display: block;
  font-size: 0.85rem;
  color: var(--grayish-cyan);
}

#tip-amount, #amount-per-person {
  color: var(--strong-cyan);
  font-size: 2.5rem;
}

.btn-reset {
  text-transform: uppercase;
  background-color: var(--strong-cyan);
  border: none;
  color: var(--very-dark-cyan);
  font-size: 1.25rem;
  width: 100%;
  padding: 0.5em 0;
  border-radius: 0.25em;
  cursor: pointer;
}

.btn-reset:hover {
  background-color: var(--light-grayish-cyan);
}

/* footer  */
footer { 
  font-size: 11px; 
  text-align: center; 
}

footer a { 
  color: hsl(228, 45%, 44%); 
}

/* for smaller and larger screens */
@media (min-width: 1024px) {
  .tip-calculator-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    margin: 0 auto;
    width: 70%;
    border-radius: 1.875em;
  }

  .tip-choices {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  .total-amount-and-div-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}