@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;

}

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --input-bg-color: hsla(185, 41%, 84%, 0.3);
}

body {
  background-color: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.splitter-logo-container {
  padding: 3em;
  display: flex;
  justify-content: center;
}

/* bill tip amount */
.tip-calculator-container {
  background-color: var(--white);
  border-radius: 30px 30px 0 0;
  height: 100%;
  padding: 2em;
}

.heading-tip-calculator {
  color: var(--grayish-cyan);
  margin-bottom: 0.25em;
}

.bill-container {
  margin-bottom: 1.5em;
}

.amount {
  background: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 1em;
  padding: 0.25em;
  width: 100%;
  border: none;
  background-color: var(--input-bg-color);
  border-radius: 0.35em;
}

/* tip amount choices */
.tip-choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.tip-btn {
  padding: 0.25em 1em;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-size: 1.5rem;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

.tip-btn:hover {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

/* footer  */
footer { 
  font-size: 11px; 
  text-align: center; 
}

footer a { 
  color: hsl(228, 45%, 44%); 
}